//Chartist Charts
x-chartist {
    .ct-grids {
        opacity: 0;
    }

    .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
        stroke: #10D6CF;
    }
    .ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
        fill: #10D6CF;
        fill-opacity: 0.75;
    }

    .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
      stroke: #10A1CF;
    }
    .ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
        fill: #10A1CF;
        fill-opacity: 0.75;
    }
}