@import '../styles/theme';

.dashboard-component {
    padding-right: 10px;

    .sales-card {
        // margin: 10px;
    }

    .social-card {
        padding: 0;
        margin-top: 10px;
    }

}