@import '../styles/theme';

.app-component {
    height: 100%;

    .content-container {
        background-color: $background-color;
        width: 100%;
        height: 100%;
        padding-top: 60px;

        &.pad {
            padding: 20px;
        }

    }

}