@import '../styles/theme';

.navigation-component {
    background-color: $navigation-color;

    &.sidebar {
        top: 50px;

        a.nav-link{
            color: #fff;
            opacity: 0.75;

            &.active {
                opacity: 1;
                background-color: $primary;
            }
        }
    }

}